<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Togo Admin</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/togo.js"></script>
  </head>
  <body id="<%= @body_id %>">
    <div id="container">
      <div id="header">
        <h1>Togo Admin</h1>
        <div id="system-menu">
          <span>System Menu</span>
        </div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
