<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= config[:site_title] %> - Login</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/togo.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
  </head>
  <body>
    <div id="container">
      <h1>Welcome! Please Log In.</h1>
      <% if flash[:error] %>
        <h3 class="error"><%= flash[:error] %></h3>
      <% end %>
      <form action="/login" method="post">
        <fieldset>
          <input type="text" name="username" value="Username" id="username" class="placeholder" />
        </fieldset>
        <fieldset>
          <input type="text" name="password" value="Password" id="password" class="placeholder" />
        </fieldset>
        <fieldset class="submit">
          <button type="submit">Log In</button>
        </fieldset>
      </form>
      <script type="text/javascript">
        login.init();
      </script>
    </div>
    <img src="/img/shadow.png" alt="" style="display: block; margin: 0 auto;" />
  </body>
</html>
